<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IShopBo" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.ShopBo"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShopBo"
                contract="CustomShopServiceReference.IShopBo" name="BasicHttpBinding_IShopBo" />
        </client>
    </system.serviceModel>
</configuration>