<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInventoryBo"/>
                <binding name="BasicHttpBinding_IProductBo"/>
                <binding name="BasicHttpBinding_IOutletBo"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBo" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInventoryBo" contract="InventoryBoServiceReference.IInventoryBo" name="BasicHttpBinding_IInventoryBo"/>
            <endpoint address="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.ProductBo" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductBo" contract="ProductBoServiceReference.IProductBo" name="BasicHttpBinding_IProductBo"/>
            <endpoint address="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.OutletBo" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOutletBo" contract="OutletBoServiceReference.IOutletBo" name="BasicHttpBinding_IOutletBo"/>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
