<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInventoryBo" />
                <binding name="BasicHttpBinding_IProductBo" />
                <binding name="BasicHttpBinding_IOutletBo" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBo"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInventoryBo"
                contract="InventoryBoServiceReference.IInventoryBo" name="BasicHttpBinding_IInventoryBo" />
            <endpoint address="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.ProductBo"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductBo"
                contract="ProductBoServiceReference.IProductBo" name="BasicHttpBinding_IProductBo" />
            <endpoint address="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.OutletBo"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOutletBo"
                contract="OutletBoServiceReference.IOutletBo" name="BasicHttpBinding_IOutletBo" />
        </client>
    </system.serviceModel>
</configuration>