html {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}
body {
  padding-bottom: 70px;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -25%;
    /* 6 columns */
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -25%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 25%;
    /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 25%;
    /* 6 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 25%;
    /* 6 columns */
  }
}
/*
 * ----------------------------------------------------
 */
body.logo-row-open {
  padding-top: 160px;
}
body.logo-row-open .top-logo-area {
  background-color: #f18e00;
}
body.logo-row-open .top-logo-area .logo {
  position: relative;
  width: 200px;
  margin: 0 0 10px -15px;
  background-color: #fff;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
body.logo-row-open .top-logo-area .logo img {
  margin: 10px;
}
body.logo-row-open .navbar-logo-area {
  display: none;
}
body.logo-row-closed {
  padding-top: 60px;
}
body.logo-row-closed .top-logo-area {
  display: none;
}
.navbar-brand {
  font-family: "ProximaNovaBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f18e00 !important;
  height: auto;
}
.navbar {
  font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav.navbar-nav li.active a {
  background-color: #af4e8b !important;
}
.navbar-inverse {
  border-bottom: 2px solid #af4e8b;
}
.navbar-logo-area {
  background-color: #fff;
  margin-left: 15px !important;
  margin-right: 10px !important;
  padding: 10px 4px 4px 4px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.navbar-logo-area:hover {
  background-color: #fff !important;
}
.navbar-nav.navbar-right:last-child {
  margin-right: auto;
}
.page-name {
  font-size: 25px;
  color: #f18e00;
  margin: 10px 10px;
  padding: 0;
}
.main-area h3 {
  margin-top: 0;
}
.bottom-area {
  margin-top: 10px;
  background-color: #f18e00;
  border-top: 2px solid #af4e8b;
  padding-top: 10px;
  padding-bottom: 10px;
}
.submit-results {
  margin-bottom: 5px;
}
.submit-results button.close {
  margin-left: 10px;
}
.submit-results .errors ul {
  margin-left: 5px;
  padding-left: 0;
}
.submit-results .errors ul li {
  margin-left: 10px;
  padding-left: 0;
}
dl dt {
  margin-bottom: 10px;
  margin-left: 10px;
}
ul.contextual-nav {
  margin-top: 2px;
}
ul.contextual-nav ul li a {
  padding-left: 30px;
}
ul.contextual-nav li hr {
  margin: 0;
  padding: 0;
}
