USE [master]
GO
/****** Object:  Database [TrooperTestStates2]    Script Date: 18/10/2015 11:24:10 PM ******/
CREATE DATABASE [TrooperTestStates2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrooperTestStates2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TrooperTestStates2.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TrooperTestStates2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TrooperTestStates2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrooperTestStates2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrooperTestStates2]
GO
/****** Object:  Table [dbo].[Outcome]    Script Date: 18/10/2015 11:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Outcome](
	[Action] [varchar](50) NOT NULL,
	[Result] [varchar](50) NOT NULL,
	[NeedsItems] [bit] NULL,
	[Pass] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Parameter]    Script Date: 18/10/2015 11:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Parameter](
	[Action] [varchar](50) NOT NULL,
	[Property] [varchar](50) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[NeedsItems] [bit] NULL,
	[Fault] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[System]    Script Date: 18/10/2015 11:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[System](
	[State] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Outcome] ([Action], [Result], [NeedsItems], [Pass]) VALUES (N'All', N'ReportsOk', NULL, 1)
INSERT [dbo].[Outcome] ([Action], [Result], [NeedsItems], [Pass]) VALUES (N'All', N'ReportsError', NULL, 0)
INSERT [dbo].[Outcome] ([Action], [Result], [NeedsItems], [Pass]) VALUES (N'All', N'NoChange', NULL, NULL)
INSERT [dbo].[Parameter] ([Action], [Property], [State], [NeedsItems], [Fault]) VALUES (N'Adding', N'Item', N'IsValidNew', NULL, 0)
INSERT [dbo].[Parameter] ([Action], [Property], [State], [NeedsItems], [Fault]) VALUES (N'Adding', N'Item', N'IsInvalidNew', NULL, 1)
INSERT [dbo].[Parameter] ([Action], [Property], [State], [NeedsItems], [Fault]) VALUES (N'Adding', N'Item', N'IsValidExists', 1, 0)
INSERT [dbo].[System] ([State]) VALUES (N'IsEmpty')
INSERT [dbo].[System] ([State]) VALUES (N'HasItems')
USE [master]
GO
